<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/consultorio.png">
    <title>UninCare | Serviços</title>

    <!-- importando arquivos CSS  -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css">
    <link href="static/css/HoldOn.min.css" rel="stylesheet">
    

    <!-- Importando icones -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="base.html">
                <img src="../static/images/unincare.svg" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color: #950606;" href="#" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Administração
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Opção 1</a></li>
                            <li><a class="dropdown-item" href="#">Opção 2</a></li>
                            <li><a class="dropdown-item" href="#">Opção 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #950606;">Financeiro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #950606;">Minha Conta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #950606;">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Serviços da Clínica de Estética</h1>
        <hr class="divider">
    </div>
    

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="row" style="--bs-gutter-x: 0;">
                <div class="col-sm-4 p-2">
                    <div class="card h-100 m-3">
                        <img class="img-fluid" src="../static/images/limpeza.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="text-center card-title">Limpeza de Pele Básica</h5>
                        <hr class="divider">
                        </div>
                        <div class="text-center card-body">
                            <a href="gerenciar.html" class="card-link">
                                <button type="button" class="btn btn-outline-dark btn-lg">Gerenciar Serviço</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 p-2">
                    <div class="card h-100 m-3">
                        <img class="img-fluid" src="../static/images/a.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="text-center card-title">Limpeza de Pele Profunda</h5>
                        <hr class="divider">
                        </div>
                        <div class="text-center card-body">
                            <a href="gerenciar.html" class="card-link">
                                <button type="button" class="btn btn-outline-dark btn-lg">Gerenciar Serviço</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 p-2">
                    <div class="card h-100 m-3">
                        <img class="card-img-top img-fluid" src="../static/images/mass.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="text-center card-title">Massagem Modeladora</h5>
                            <hr class="divider">
                        </div>
                        <div class="text-center card-body">
                            <a href="gerenciar.html" class="card-link">
                                <button type="button" class="btn btn-outline-dark btn-lg">Gerenciar Serviço</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="text-center">
        <button type="button" class="btn btn-outline-dark btn-lg">Cadastrar Serviço</button>
    </div>

    <br><br><br>

    <footer class="bg-light text-center text-lg-start ft-open">
        <div class="text-center p-3">
            © 2021 Copyright - UninCare
        </div>
    </footer>

    <!-- Importando arquivos JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    
</body>
</html>